/* TABLET */

/* blocco lezioni */
@media all and (max-width:800px){
  .row {
    width: 100%;
    margin-top: 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: auto;

  }

  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: calc(45% - 5%);
    margin: 10px 5%;
  }

  #steps .row>.left img,
  #steps .row>.central img,
  #steps .row>.right img {
    max-width: 80%;
    height: auto;
  }

  #steps .row>.central {
    content: "";
    display: table;
    clear: right;
  }

  #steps .row>.right {
    margin-top: 30px;
    margin-left: 27.5%;
    margin-right: 27.5%;
  }

  body{
    padding:0 3%;
  }
}





/* ------------------------------------------------ */
/*  SMARTPHONE */


@media all and (max-width: 420px){
  /* blocco lezioni */
  .row {
    width: 100%;
    margin-top: 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: auto;

  }
  /* blocco steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin: 30px auto;
  }

  /*blocco perche */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 50px;
  }

  #why .row img {
    padding: 0;
  }
}
